<a href="https://colab.research.google.com/github/zdvinkofff/Developer-AI/blob/main/HomeWorkDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3
db = sqlite3.connect('/content/fotballers.db')
cursor = db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS important_players(user_id INTEGER, name TEXT PRIMARY KEY,  age INTEGER, club TEXT)""")
data = [[1,'Cristiano Ronaldo',  37, 'MU'], [1,'Brunu Fernandes', 27, 'MU'], [2,'Mason Mount', 23, 'Chelsea'], [2,'Reese James', 23, 'Chelsea'],
        [2,'Kepa', 23, 'Chelsea'], [3,'Mohamed Salah', 30, 'Liverpool']]
cursor.executemany('INSERT OR REPLACE INTO important_players(user_id, name,  age, club) VALUES(?, ?, ?, ?)', data)
db.commit()
cursor.execute("""CREATE TABLE IF NOT EXISTS price_players(user_id INTEGER, name TEXT PRIMARY KEY, price INTEGER)""")
data2 = [[1,'Cristiano Ronaldo',  55000000], [1,'Brunu Fernandes', 80000000], [2,'Mason Mount', 70000000], [2,'Reese James', 45000000],
        [2,'Kepa', 75000000], [3,'Mohamed Salah',80000000]]
cursor.executemany('INSERT OR REPLACE INTO price_players VALUES(?, ?, ?)', data2)
db.commit()
query = cursor.execute("""SELECT
	important_players.user_id as user_id, important_players.name as players_name,	important_players.age as players_age, important_players.club as players_club,
  price_players.price as players_price
FROM important_players
LEFT JOIN price_players ON price_players.name = important_players.name""")
db.commit()
cursor.fetchall()
df = pd.DataFrame([(1, 'Cristiano Ronaldo', 37, 'MU', 55000000), (1, 'Brunu Fernandes', 27, 'MU', 80000000), (2, 'Mason Mount', 23, 'Chelsea', 70000000),
(2, 'Reese James', 23, 'Chelsea', 45000000), (2, 'Kepa', 23, 'Chelsea', 75000000), (3, 'Mohamed Salah', 30, 'Liverpool', 80000000)],
columns=['user_id', 'players_name', 'players_age', 'players_club', 'players_price'])
df
df = df.to_csv('footballers.csv')
cursor.execute("SELECT * FROM important_players WHERE age > 23")
results = cursor.fetchall()
print(results)

[(1, 'Cristiano Ronaldo', 37, 'MU'), (1, 'Brunu Fernandes', 27, 'MU'), (3, 'Mohamed Salah', 30, 'Liverpool')]